
h2{
    color: rgb(241, 247, 233);
    font-size: 50px;
    text-align: center;
    background-color: blueviolet;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(30, 31, 30);
    font-size: 30px;
    
}